body
{

background-color: #6d6d6d;
color: white;

}

.m-0
{

  margin: 0;
  padding: 0;

}

.darker
{

background-color: #1b1b1b;

}

.dark
{

background-color: #424242;

}

a,h4
{

color: white;

}

h4
{

padding: 0;
margin: 0;
  
}

img
{

  width: 200px; 
  height: 200px;
  margin: 0 auto;
  

}

.center
{

margin:10px auto;

}

.contacts
{

  background-color: #424242;  
  text-align: center;
  font-size: 16px;

}
.symbols
{

  font-size: 24px;

}

.contactHolder
{
  text-align: center;
  background-color: #1b1b1b;
  padding: 40px 0;

}
.contactH2
{

  margin-top: 0;
  margin-bottom: 10px;

}
.centered
{

  text-align:center;
  background-color: #424242;
  padding: 20px;
  margin: 20px;

}