body
{

background-color: #6d6d6d;
color: white;

}

.m-0
{

  margin: 0;
  padding: 0;

}

.darker
{

background-color: #1b1b1b;

}

.dark
{

background-color: #424242;

}

a
{

color: white;

}

img
{

  width: 200px; 
  height: 200px;
  margin: 0 auto;
  

}

.center
{

margin:10px auto;

}